/* COLOR PALETTE */
.color1 {
    background-color: #FFF07C;
} .color2 {
    background-color: #80FF72;
} .color3 {
    background-color: #09CAEC;
} .color4 {
    background-color: #EEC0C6;
} .color5 {
    background-color: #DE6A68;
}

body {
    background-color:#FFF07C;
}

.index-body {
    background-color:#FFF07C;
}

.about-body {
    background-color:#EEC0C6;
}

.pics-body {
    background-color:#80FF72;
}

.faqs-body {
    background-color:#09CAEC;
}

p {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

#woah {
    text-align: center;
    font-size: 1.5rem;
}

#there {
    text-align: center;
}

.navbar-nav {
    border-style:solid;
    border-radius:5px;
    border-color:#DE6A68;
}

.navbar-nav:hover {
    border-width:10px;
}

div p {
    color:black;
}

img {
    width:100px;
    height:50px;
}